#main-navbar {
    background-color: blue;
}

#navbar-container {
    width: 100%;
    position: relative;
    list-style-type: none;
    text-align: center;
}

#main-navbar {
    overflow: hidden;
}

#main-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#main-navbar ul li {
    float: left;
}

#main-navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

#main-navbar ul li a:hover {
    background-color: #000;
    text-decoration: underline overline;
}

#sidebar {
    background-color: red;
}

#sidebar-container {
    position: fixed;
    right: 0%;
    width: 20%;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

#sidebar ul {
    padding: 0;
    display: block;
    list-style-type: none;
}

#sidebar ul li a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: #000;
}

#sidebar ul li a:hover {
    background-color: #000;
}